prompt_toolkit
Pillow
pygame
watchdog
python-dateutil
openpyxl
python-docx
PyPDF2
requests>=2.32.0
beautifulsoup4
redis
scrapy
paramiko
python-dotenv
nltk
pycryptodome
schedule
twisted>=24.7.0rc1
azure-cognitiveservices-speech
numpy
scipy
pypinyin
chardet
anthropic
deepseek
Flask
opencv-python
scikit-learn
tqdm
pandas
