SpeechRecognition
PocketSphinx
pyttsx3
pydub
playsound
tempfile
pyaudiokit
transformers
torch
shutil
tempfile
prompt_toolkit
pillow
pygame
pydub
playsound
watchdog
dateutil
sounddevice
openpyxl
docx
PyPDF2
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
sounddevice 
beautifulsoup4 
redis
tqdm
scrapy
imaplib
dateutil
paramiko
watchdog
dotenv
PIL
scrapy
Crypto
schedule
